<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log message format -->
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] [%thread] [%logger{36}:%L] [%-5level]  - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Need appender to write to file -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Name of the file where the log messages are written -->
        <file>/var/log/parcelpoint/rule-engine.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/parcelpoint/rule-engine.%d.log</fileNamePattern>
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}] [%thread] [%logger{36}:%L] [%-5level]  - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Setting the root level of logging to INFO -->
    <root level="info">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
